.barratop {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: fit-content;
}

.ancora {padding-top: 50px;}


.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../img/deslizar.png");
    background-position: 0;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 50px auto 0px auto;
    padding: 0px;
    max-width: 100%;
    height: 800px;
    overflow: hidden;
    font-size: 1.3rem;
    color: #5ccb3e;
    transition: all 0.6s ease;
}



.cardsobre {
    margin-top: 0;
    max-width: 700px;
    transition: 0.4ms;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background: rgb(0,5,0);
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    color: #5ccb3e;
    text-shadow: 0px 0px 1px rgb(0, 255, 4);
}

.barratop:hover .hsobre{
    color: rgb(89, 255, 64);
    transition: 0.6s;
    transform: translateX(5px) scale(1.05);
   
}


.hsobre {
    display: flex;
    transition: 0.6s;
    color: #2dd100;
    text-shadow: 0px 0px 3px rgb(0, 255, 4);
    padding: 0px 20px;
    margin: 0;

}



.textoi{
    margin: 0;
    padding: 0;
}
.textoi p {
    transition: 0.4s;
    margin-top: 0;
    padding-top: 0;
}

p strong {color:rgb(200, 255, 200);}

.cardsobre:hover .textoi p {
    transform: translateY(-10px);
    text-shadow: 0px 0px 2px rgb(0, 255, 4);
}


.bloco:hover img {
    transition: 0.6s;
    transform: translateY(-10px);
}


.foto4x4 {
    transition: 0.6s;
    height: 260px;
    border: 3px solid rgb(0, 52, 0);
    object-fit: contain;
    margin: 20px;

}









@media (max-width:750px){

    .bloco{
  
     height: fit-content;
     padding-top: 100px;
     background: none;
    }

    .foto4x4{
        height: 300px;
    }



    .hsobre {
        font-size: 1.4rem ;
    }

    .cardsobre {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}


.bloco p {
    font-size: 1.3rem;
    
}

.bloco:hover img {
    transition: 0.6s;
    transform: translateY(-10px);
}



.bloco {
    width: 100%;


    
}

}