
.contato{
     border: 4px solid rgb(7, 95, 27);

    color: rgb(158, 255, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(1, 37, 1), rgb(0, 0, 0));
    width: 700px;
    margin: 200px auto 150px auto;
    transition: background-position 0.5s ease;
    transition: 0.4s;
}

.contato:hover {
    border: 4px solid #5ccb3e;
    box-shadow: 0px 0px 4px #5ccb3e;
}

.contato:hover .icoc{
    color: rgb(158, 255, 158);
    text-shadow: 0px 0px 4px #5ccb3e;
}

.contato:hover h2{
    text-shadow: 0px 0px 5px #5ccb3e;
}

.divc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icoc{
    transition: 0.4s;
    color: #5ccb3e;
    display: flex;
    margin: 0px 20px;
    font-size: 8rem;
}

.contato h2{
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
}

.contato p {
    font-size: 1.5rem;
    padding: 0 30px;
}




.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    color: #a5ff97;
    background: rgb(0, 50, 0);
    border: 2px solid rgb(0, 255, 60);
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    
    font-family: "Share Tech", sans-serif;
    transition: all 0.4s, background 1s;
    padding: 3px 10px;
    text-decoration: none;
}

.btn:hover {
    padding: 5px 20px;
    
    color: #67ff3c;
    text-shadow: 0px 0px 2px rgb(0, 255, 4);
    box-shadow: 0px 0px 10px #37ff00;
    border: 2px solid rgb(0, 255, 60);
    background: #002703;
}
.icodown{
    margin: 0 5px;
}


@media (max-width: 750px) {
    .contato{
        max-width: 90%;
    }

    .contato h2{
    font-size: 2rem;
}



.contato p, .contato ul li, .contato ul li a {
    font-size: 1.2rem;
}

.icoc{
    margin: 0px;
}


}


@media (max-width: 460px){
    .icoc{

    display: none;
}

    .contato h2{
    font-size: 1.5rem;
}

.contato p{
    font-size: 1rem;
}

.btn{ font-size: 1.2rem;}

.contato ul li, .contato ul li a {
    font-size: 1.1rem;  
}

}