.cardp {
     scroll-margin-top: 50px;
    margin: 60px 0px 20px 0px;
    background-image: url("../img/tech1\ \(2\).gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    flex-direction: row;
}

.square ul, .downl {
    display: inline;
}



.square ul li .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5ccb3e !important;
    font-weight: bold !important;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    font-family: "Share Tech", sans-serif;
    transition: all 0.4s, background 1s;
    text-decoration: none;
    padding: 5px 10px;
    flex-wrap: nowrap;
}

.square ul li .btn:hover {
    padding: 5px 10px;
    background: none !important;
    border-radius: 0;
}

.icodown {
    margin: 0 5px;
}



.degrade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0));

}




.blur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}


.foto {

    display: flex;
    overflow: hidden;
    height: 100%;



}

.foto img {
    padding-left: 100px;
    padding-top: 0px;
    height: auto;
    transform: translateY(65px) translateX(-20px);
    transition: transform 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 5px rgb(0, 255, 0));

}

.foto img:hover {
    transform: translateY(0px) scale(1.1) rotate(5deg)perspective(900px) rotateX(10deg);
    filter: drop-shadow(0 0 5px rgb(0, 255, 0));
}

img:hover .blur {
    background-color: none;
}



.info {
    right: 20px;
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
}


.square {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    margin-right: 200px;
    border: 3px solid #5ccb3e;
    transition: 0.5s;
    background-color: rgba(0, 20, 0, 0.6);
}

.square ul {
    display: flex;
    width: fit-content;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
  
}




.square ul li a,
.square ul li a:visited, .downl, .downl:visited {
    display: inline;
    color: #5ccb3e;
    font-size: 2rem;
    margin: 0px 0px;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square ul li:hover a, .downl:hover {
    color: rgb(0, 255, 4);
}

.square:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #5ccb3e;
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}


.square:hover h1 {
    transition: 0.2s;
    color: rgb(40, 200, 40);
    text-shadow: 0px 0px 8px rgb(0, 255, 4)
}

.info hr,
hr {
    margin: 10px 0px 10px 0px;
    border: none;
    height: 3px;
    background-color: #5ccb3e;
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}

.info h1 {
    transition: 0.5s;
    font-size: 3rem;

}


.info p {
    font-size: 1.6rem;
}

.info p,
.info h1,
hr {
    margin: 0px
}


@media (max-width: 1100px) {

    .square {
        width: 400px;
        margin-right: 200px;
    }

    .info h1 {
        transition: 0.5s;
        font-size: 3rem;
    }

}

@media (max-width: 850px) {

    .blur {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: right;
        gap: 0px;
        height: 500px;
    }

    .square {

        display: flex;
        right: 0px;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-bottom: 20px;
    }

    .info {
        position: relative;
        right: 0;
        width: 500px;
        height: auto;
        padding: 0px;
    }

    .foto {
        display: flex;
        justify-content: center;
        width: 500px;
        height: auto;

    }

    .foto img {
        position: relative;
        transform: none;
        left: 0;
        padding-left: 10px;
        padding-bottom: 0px;
        width: 200px;
        height: auto;
    }



    .info {
        position: relative;

    }

    .info h1 {
        position: relative;
        transition: 0.5s;
        font-size: 2.5rem;
    }

}

@media (max-width:600px) {


    .blur {
        height: 440px;
    }

    .info {
        width: 90%;
    }

  
    .info h1 {

        transition: 0.5s;
        font-size: 2rem;
    }

    .info p {
        font-size: 1.2rem;
    }
}



@media (max-width:450px) {

      .foto img {
        width: 180px;
        height: auto;
    }

 .downl, .downl:visited{
    font-size: 1.5rem;

    }

    .info {
        width: 280px;
    }

    .info p {
        font-size: 1rem;
    }


}