.cardp {
    margin: 0px 0px 20px 0px;
    background-image: url("../img/tech1\ \(2\).gif");
    background-repeat: no-repeat;
    background-size: cover;
}



.degrade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0), rgb(0,0,0));

}
.rollimg {
    position: relative;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
}
.rollimg img {
    width: 100%;
    
}



.blur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}


.foto {

    display: flex;
    overflow: hidden;
    display: flex;
    height: 100%;



}

.foto img {
    padding-left: 100px;
    padding-top: 0px;

    height: auto;
    transform: translateY(65px) translateX(-20px);
    transition: transform 1s ease, filter 1s ease;
    filter: drop-shadow(0 0 5px rgb(0, 255, 0));

}

.foto img:hover {
    transform: translateY(0px) scale(1.1) rotate(5deg)perspective(900px) rotateX(10deg);
     filter: drop-shadow(0 0 5px rgb(0, 255, 0));
}

img:hover .blur {
    background-color: none;
}



.info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 100px 20px 0px;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
}


.square {
    padding: 10px;
    border: 3px solid #5ccb3e;
    transition: 0.5s;
    background-color: rgba(0, 20, 0, 0.6);
}

.square:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid #5ccb3e;
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}


.square:hover h1 {
    transition: 0.2s;
    color: rgb(40, 200, 40);
    text-shadow: 0px 0px 8px rgb(0, 255, 4)
}

.info hr,
hr {
    margin: 10px 0px 10px 0px;
    border: none;
    height: 3px;
    background-color: #5ccb3e;
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}

.info h1 {
    transition: 0.5s;
    font-size: 2rem;

}


.info p {
    font-size: 1.5rem;
}

.info p,
.info h1,
hr {
    margin: 0px
}