.bloco {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.94), rgb(0, 0, 0));
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 20%;
    font-size: 1.3rem;
    border: 2px solid green;
    box-shadow: 0px 0px rgb(0, 255, 4);
    color: #5ccb3e;
    transition: all 0.6s ease;
}

.bloco div {
    padding: 0px 20px;
}

.bloco:hover{
    transform: scale(1.1);
    transition: all 0.6s ease;
    background-color: black;
 
   
}

.bloco:hover .hsobre{
    
    transition: 0.6s;
    transform: scale(1.1);
    text-shadow: 0px 0px 5px rgb(0, 255, 4);
}

.hsobre {
     transition: 0.6s;
    color: #5ccb3e;
    text-shadow: 0px 0px 2px rgb(0, 255, 4);
    background: black;

    width: fit-content;
    padding: 0px 0px;

}

.haltura{position:absolute;
    top: 800px;
}

.bloco:hover img {
    transition: 0.6s;
    transform: translateY(-10px);
}


.foto4x4 {
    transition: 0.6s;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid green;
    box-shadow: 0px 0px 3px rgb(0, 255, 4);
    object-fit: contain;
    margin: 20px;

}

.degrade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}




.rollimg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    overflow: hidden;
    object-fit: cover;
}

.rollimg .backimg img {
    width: 100%;
}


@media (max-width:1100px){

    .bloco {
    margin: 0;
    padding: 20px;
}


.bloco:hover img {
    transition: 0.6s;
    transform: translateY(-10px);
}
}

@media (max-width:720px){

    .hsobre {
        font-size: 1.4rem ;
    }

    .bloco {
    flex-direction: column;
}

.bloco p {
    font-size: 1rem;
    
}

.bloco:hover img {
    transition: 0.6s;
    transform: translateY(-10px);
}


.foto4x4{
    height: 220px;
}

.bloco {
    margin: 1000px 0px;
}

.rollimg .backimg img {
    
    height: 1000px;
    width: auto;
}
}