.nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin: 0px;
    padding: 10px;
}



.titulo h1 {    
    margin: 0px;
    transition: 0.4s; 
    font-size: 1.5rem;
    margin-left: 60px;
    color:#5ccb3e;
    text-shadow: 0px 0px 2px rgb(0, 255, 4);


}

.titulo h1:hover {   
    transition: 0.4s; 
    font-size: 1.5rem;
    padding-left: 80px;
    margin: 0;
    color: rgb(40, 220, 40);
    
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    border: 2px solid #5ccb3e;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
    transition: 0.4s
}

.nav ul li:hover {
    padding: 0px 5px;
    transition: 0.2s;
    color: rgb(58, 239, 38);
    border: 3px solid #5ccb3e;
    text-shadow: 0px 0px 8px rgb(0, 255, 4);
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
    background-color: rgb(24, 45, 30);
}

.nav ul li a, .nav ul li a:visited{
    text-decoration: none;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
}

.navline {
    margin: 0;
    border: none;
    height: 2px;
    background-color: rgb(40, 200, 40);
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}

