.nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin: 0px;
    padding: 10px;
    z-index: 1;
    position: fixed;
    background-color: #000;

}



.titulo h1 {
    margin: 0px;
    transition: 0.4s;
    font-size: 1.5rem;
    margin-left: 60px;
    color: #5ccb3e;
    text-shadow: 0px 0px 2px rgb(0, 255, 4);
    flex-wrap: nowrap
}

.titulo h1:hover {
    transition: 0.4s;
    font-size: 1.5rem;
    padding-left: 80px;
    margin: 0;
    color: rgb(40, 220, 40);

}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    border: 2px solid #5ccb3e;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
    transition: 0.4s;
}

.nav ul li:hover a {color: #a5ff97;}
.nav ul li:hover {
    padding: 5px 5px;
    transition: 0.2s;
    
    border: 2px solid #5ccb3e;
    text-shadow: 0px 0px 8px rgb(0, 255, 4);
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
    background-color: rgb(24, 65, 30);
}

.nav ul li a,
.nav ul li a:visited {
    text-decoration: none;
    color: #5ccb3e;
    text-shadow: 0px 0px 4px rgb(0, 255, 4);
}

.navline {
    margin: 0;
    border: none;
    height: 2px;
    background-color: rgb(40, 200, 40);
    box-shadow: 0px 0px 8px rgb(0, 255, 4);
}



.menu{display: none;}

@media (max-width: 800px){

.menu {
    background-color: #000;
    border: 0;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0;
    transition: 0.5s;
    position: relative;
    border: 1px solid #000;
}

.menu:hover{
    box-shadow: 0px 0px 4px rgb(0, 255, 4);
     border: 1px solid rgb(40, 200, 40);

}

.menu span {
    background-color: rgb(40, 200, 40);
    padding: 2px 10px;
    margin: 1.5px;
}



.nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 50px;
    text-align: center;
    

}


.nav ul li {
    background-color: #000;
    width: 100px;  
}


.on{transition: max-height 0.4s ease;
    max-height: 900px; 
    overflow: hidden;
 
}

.off{ 
    transition: max-height 0.4s ease;
    max-height: 0px;
    overflow: hidden;
  
}



}

@media (max-width: 370px)

{

    
    .titulo h1 {
    margin-left: 0px;

}
}


@media (max-width: 335px)
{
    .nav {
        justify-content: left;
        gap: 75px;
    }

    
.nav ul {right: 10px}

}