.barra {
    background: linear-gradient(to right, rgb(0, 90, 10), rgb(33, 145, 40), rgb(0,90,10));
    border: 2px solid rgb(56, 168, 60);
    width: 100%;
    height: 35px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.aba h1 {
display: flex;
font-size: 1rem;
padding: 5px 15px 5px 10px;
border-radius: 10px 10px 0px 0px;
margin: 0px 20px;
}

.ico{display:flex;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-color:  rgb(56, 168, 60);
    color: rgb(0,90,10);
    align-items: center;
    margin: 0px 20px;
}