*{box-sizing: border-box;
font-family: "Share Tech", sans-serif;}

body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
     scroll-behavior: smooth;
     margin: 0;
    padding: 0;
}
